doctype html
html
  head
    title IA For Linux (Unofficial)
    link(href="node_modules/tachyons/css/tachyons.css", rel="stylesheet")
    link(href="./styles.css", rel="stylesheet")
  body
    div(id="main")
    script(src="popup.js")
